.login-form {
    max-width: 300px;
    padding: 24px;
    background: #fbfbfb;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -80%);
}
.login-form-forgot {
    float: right;
}
.login-form-button {
    width: 100%;
}