#navigation {
    text-align: right;
}

.navigation-button {
    margin: 5px;
}

.full-line-field {
    width: 100%;
}

.small-left-field {
    width: 20%;
    float: left;
}

.large-right-field {
    width: 100%;
    float:right;
}

#check-connection-button {
    width: 100%;
    float: left;
}