.sider {
    left: 0;
    top: 0;
    overflow: auto;
    height: 100vh;
    position: fixed;
    line-height: 24px;
    background-color: rgba(108, 106, 103, 1);
    color: rgba(16, 16, 16, 1);
    font-size: 20px;
    text-align: center;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.24);
    font-family: "Microsoft Sans Serif", sans-serif;
    border: 1px solid rgba(255, 255, 255, 0);
}

.sider-logo-wrapper {
    overflow: hidden;
	width: 100%;
    /*background-color: rgba(108, 106, 103, 1);*/
}


.logo {
   	margin-top: -0.75em;
    float: center;
    width: 90%;
    /*width: 142px;
    height: 89px;*/
}

.mainmenu {
    width: 101%; 
    text-align: left;
    text-indent: 10px;
    background-color: rgba(108, 106, 103, 1);
    color: rgba(255, 255, 255, 0.85);
}

.mainmenu-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    top: 4.3%;
}

.mainmenu-image-container {
    vertical-align: top;
    display: table-cell;
    padding-left: 20px;
    padding-bottom: 10px;
}

.sider-bottom-wrapper {
    width: 100%;
    overflow: hidden;
    position: absolute;
    bottom: 0;
}

.sider-bottom-block {

    display: table;
    float: left;
    color: rgba(255, 255, 255, 0.85);
    font-size: 15px;

}

.sider-last-logo {
    vertical-align: top;
    display: table-cell;
    padding-left: 22px;
    padding-bottom: 25px;
}

.sider-logo {
    vertical-align: top;
    display: table-cell;
    padding-left: 20px;
    padding-bottom: 7px;
}

.sider-bottom-text {
    display: table-cell;
    padding-left: 15px;
    padding-top: 1.5px;
}